@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2000 0 0);
  --card: oklch(0.9710 0 0);
  --card-foreground: oklch(0.2000 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2000 0 0);
  --primary: oklch(0.6700 0.2000 255);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9200 0 0);
  --secondary-foreground: oklch(0.3000 0 0);
  --muted: oklch(0.9700 0 0);
  --muted-foreground: oklch(0.5500 0 0);
  --accent: oklch(0.9200 0 0);
  --accent-foreground: oklch(0.3000 0 0);
  --destructive: oklch(0.6100 0.2000 23);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9000 0 0);
  --input: oklch(0.9400 0 0);
  --ring: oklch(0.6700 0.2000 255);
  --radius: 0.5rem;
}

body {
  font-family: var(--font-sans);
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}
